.card{
    border-radius: 5px;
    border-bottom: 2px solid #007bff;
    border-right:2px solid #007bff;
    border-left:2px solid #007bff;
    margin-bottom: 10px;

}
.container{
    width:100%;
    flex-direction:row;
    
}
.card-text{
    font-size: 17px;
    
}

.card-header{
    border-top: 2px solid #007bff; 
    border-bottom: 2px solid #007bff;
    color:white; 
    font-size:20px;
    padding: 0px;
    
}
.container{
    display: inline-block;
}
.btn-outline-danger{
    width: 100px;
   
}
.close{
    color: rgb(167, 27, 27);
    font-weight: 800;
    font-size: 39px;
    padding-right:10px;
}
/* .button list-group-item{
    background-color: #007bff;
    font-size: 20px;
    text-align: center;
    color: white;
   border-color: #007bff;
   margin-bottom: 30px;
  margin-top: 30px;
   
} */
.title{
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    padding-top: 21px;
}
.card:hover .overlay {
    opacity: 2.5;
  }
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
  
  }