<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Welcome to the Learning Dashboard</a>
  <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="username"  >{{this.items[0].username}}</span>
        <i class="fa fa-user">
          </i>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <p class="dropdown-item" href="#">Username:{{this.items[0].username}}</p>
        <p class="dropdown-item" href="#">Email:{{this.items[0].email}}</p>
        <p class="dropdown-item" href="#">Rating:{{this.items[0].rating}}</p>
      </div>
    </div>
  
  <b class="caret"></b>
</nav>
