
.dropdown{
    padding-left: 170px;
}
.bg-light{
    background-color: #007bff !important;
    width: 100%;
}
.navbar-light .navbar-brand{
    color: white;
    font-size: 32px;
    width:60%;
}

.fa{
    font-size: 41px;
    color: white;
    padding-right: 10px;
    
}
.username{
color: white;
    font-size: 22px;
    padding: 50px;
    font-weight: bold;
}

.dropdown-menu{
    right: 11px !important;
    left:231px !important;
}
.btn{
    background-color: transparent;
    border-color: white;
    border-radius: 20px;
}
.dropdown-toggle::after{
    color:white;
}

@media screen and (min-width: 300px) and (max-width: 450px) {
    .navbar-light .navbar-brand {
        font-size: 13px;
        width: 60%;
      }
     
     .fa{
        font-size: 20px;
        width:20%;
        padding-left: 41px;
    }
    .username{
        font-size: 5px;
        display:none;
    }
    .btn{
        border-color: none !important;
        border-style: none;
    }
     .btn{
       
        border-style: none;
    }
    

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -84px !important;
    right: 0px;
    z-index: 1000;
    display: none;
    padding: .5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    display: block;
    font-size: 13px;
    width: 195px;
    height: 124px;

}
.dropdown{
    padding-left:0px;
}
}

