<div class="container">
<ng-container>
  <div class="tab">
    <div class="badge badge-info"><span>{{tabContent_for_TotalNo_class}}   {{tabQuantity_for_TotalNo_class}}</span></div>
    <div class="badge badge-info"><span>{{tabContent_for_Completed_class}}  {{tabQuantity_for_Completed_class}}</span></div>
    <div class="badge badge-info"><span>{{tabContent_for_In_Progress_class}}  {{tabQuantity_for_In_Progress_class}}</span></div>
    <div class="badge badge-info"><span>{{tabContent_for_not_Started_class}}  {{tabQuantity_for_not_Started_class}}</span></div>
    </div>
</ng-container>
</div>


