button{
    background-color: #007bff;
    /* width: 100%; */
    /* height: 100px; */
     /* margin-right: 2%; */
    font-size: 20px;
    text-align: center;
    color: white;
   border-color: #007bff;
   margin-bottom: 30px;
  margin-top: 30px;
   
}
.tab{
/*    
    height: 150px; */
   /* padding-top: 50px; */
  

}

