
<div class="col-md-6 user-container">
  <h2 class="text-center">Add User</h2>
  <div class="addClassForm">
  <form  [formGroup]="addForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
        <label for="password">id:</label>
         <input type="number" formControlName="id" placeholder="Enter id" name="id" class="form-control" id="id">
        </div>
    <div class="form-group">
      <label for="username">username:</label>
      <input type="text" formControlName="username" placeholder="username" name="username" class="form-control" id="username">
    </div>

    <div class="form-group">
      <label for="firstName">email:</label>
      <input type="email" formControlName="email" placeholder="email" name="email" class="form-control" id="email">
    </div>

    <div class="form-group">
      <label for="lastName">rating:</label>
      <input type="number" formControlName="rating" placeholder="rating" name="rating" class="form-control" id="rating">
    </div>

    <div class="form-group">
      <label for="age">status:</label>
      <input type="text" formControlName="status" placeholder="status" name="status" class="form-control" id="status">
    </div>

    <div class="form-group">
      <label for="salary">duration:</label>
      <input type="text" formControlName="duration" placeholder="duration" name="duration" class="form-control" id="duration">
    </div>
    <div class="form-group">
        <label for="salary">subject:</label>
        <input type="text" formControlName="subject" placeholder="subject" name="subject" class="form-control" id="subject">
    </div>
    <div class="form-group">
        <label for="salary">completed:</label>
        <input type="text" formControlName="completed" placeholder="completed" name="completed" class="form-control" id="completed">
    </div>

    <button class="btn btn-success">Add</button>
  </form>
</div>
</div>
